
# file extensions (any file and dir)
*.bak
*~
*.o
*.dc
*.oc
*.os
*.tmp
*.obj
*.asm
*.junk
*.map
*.yy.c
*.log
*.exe
*.out
*.out.dbg
*.b
*.a
*.d
*.ccs
*.le.oa
*.be.oa
*.bin
*.dat
*.tab.c
*.tab.h
*.lst
*.map.pp
*.tgz
*.cmd
*.cache.mk
*.symvers
*.o.ur-safe
*.ko
*.mod.c
*.order
*.so
*.so.0


# file names (any dir)
cdefdep
.created
*.creator
*.creator.user.*
*.user
*.config
*.files
*.includes
*.tmp_versions
SD
bsp
release


